$default: #FBF8F1;
$nighmode: #3B3A35;
$two: #EDE3DA;
$text-light: #EDE3DA;
$text-dark: #757575;
$board-background: #BBADA0;
$tile-background: #CDC1B4;

.layout {
  background-color: red;
  display: flex;
}


//    background-color: hsla(60,90%,70%,1);